@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Shadows+Into+Light&display=swap');

body{
font-size: 20px;
font-family: "Kalam", cursive;
font-weight: 400;
font-style: normalt;
color: #333;
text-align: center;
background-color: #f8f6f0;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 64px 128px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #9723ba; 
  color: black; 
  border: 2px solid;
  font-size: 20px;
}

.button1:hover {
  background-color: #270530;
  color: white;
}

.button2 {
  background-color: #de3e7d; 
  color: black; 
  border: 2px solid;
}

.button2:hover {
  background-color: #300516;
  color: white;
}

.container { 
  height: 500px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

