h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.button {
  border: none;
  color: white;
  padding: 64px 128px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #9723ba; 
  color: black; 
  border: 2px solid;
}

.button1:hover {
  background-color: #270530;
  color: white;
}

.button2 {
  background-color: #de3e7d; 
  color: black; 
  border: 2px solid;
}

.button2:hover {
  background-color: #300516;
  color: white;
}

.container { 
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

