@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Shadows+Into+Light&display=swap');

body{
font-size: 20px;
font-family: "Kalam", cursive;
font-weight: 400;
font-style: normal;
color: #11222B;
text-align: center;
background-image: linear-gradient(to left, rgba(151, 35, 186, 1), rgba(222, 62, 125, 1)); /*purple then pink*/
overflow: hidden;
}

.button {
  font-family: "Kalam", cursive;
  border-radius: 5px;
  color: #11222B;
  margin-top: 15%;
  padding: 64px 128px;
  text-align: center;
  display: inline-block;
  font-size: 32px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: #9723ba; 
  border: 2px solid;
}
.button1:hover {
  background-color: #270530;
  color: white;
}
.button2 {
  background-color: #de3e7d;
  border: 2px solid;
}
.button2:hover {
  background-color: #300516;
  color: white;
}

.imgdisplay{
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

.centerimg{
  text-align: center;
}

.contacts{
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  color: white;
  width: 45px;

}


.contactdisplay{
  margin-top: 10%;
  position: relative;
  text-align: center;
}
