@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Shadows+Into+Light&display=swap');

body{
  font-size: 20px;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  color: #270530;
  text-align: center;
  background-color: rgba(39, 5, 48, 0.4);
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #9723ba;
  color: #270530;
}

h2{
    margin-top: 20%;
    position: relative;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 2px;
}

li a {
  display: block;
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #9723ba;
}

a {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #270530;
}


.question{
  font-size: 30px;
  margin-bottom: 100px;
}
 .img1 {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-bottom: 100px;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  object-fit: contain;
}

.img {
  text-align: center;
  position: absolute;
  display: inherit;
  top: 20%;
  left: 50%;
  margin-bottom: 50px;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 100%;
  object-fit: contain;
}


.answers {
  margin: 0px;
  text-align: center;
  white-space: nowrap;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.answers label{
  text-align: center;
  margin: 0; 
  padding: 0;
  display: grid;
  min-height: 0;
  min-width: 0;  
  margin-left: 0px;
  margin-right: 0px;
}



button{
  font-family: "Kalam", cursive;
  font-size: 22px;
  background-color: #9723ba;
  color: white;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 0px;
  margin-top: 0px;
}
button:hover{

  background-color: #270530;

}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 650px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
}

.score{
  font-size: xx-large;
  text-align: center;
  position: absolute;
  display: inherit;
  margin-top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#results{
  font-size: larger;
  font-weight: bold;
  text-align: center;
  position: absolute;
  display: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


input[type="radio"]{
  position: relative;
  width: 600px;
  height: 125px;
  margin: 0px;
  top: 25px;
  left: 100px;
  right: 100px;
  bottom: 200px;
  cursor: pointer;
  margin-bottom: 0px;
  border-radius: 15px;
  border: 2px solid #270530;
  background-color: #9723ba;
  -webkit-appearance: none;
  -moz-appearance: none;
}


input[type="radio"]:focus {

  outline: none;
}

input[type="radio"]:checked ~ span:first-of-type {

  color: white;
}

input[type="radio"]:checked {

  background-color: #270530;
}

label span:first-of-type {

  position: relative;
  font-size: 25px;
  color: white;
}

label span {
  text-align: center;
  position: relative;
  top: -100px;
  right: 0px;
}

