@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Shadows+Into+Light&display=swap');

body{
  font-size: 20px;
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
  color: #333;
  text-align: center;
  background-color: #f8f6f0;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
}
.question{
  font-size: 30px;
  margin-bottom: 100px;
}

.img {
  text-align: center;
  position: absolute;
  display: inherit;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 100%;
  object-fit: contain;
}

.answers {
  margin-bottom: 20px;
  text-align: center;
  white-space: nowrap;
  display: grid;
  grid-template-columns: auto auto;
  min-height: 0;
  min-width: 0;  
  margin-left: 0px;
  margin-right: 0px;
}
.answers label{
  display: grid;
  text-align: center;
  grid-template-columns: auto auto;
  min-height: 0;
  min-width: 0;
  grid-column-gap: 50px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
button{
  font-family: 'Work Sans', sans-serif;	
  font-size: 22px;
  background-color: #279;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  margin-bottom: 0px;
  margin-top: 0px;
}
button:hover{

  background-color: #38a;

}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
}
.quiz-container{
  position: relative;
  height: 600px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  border: 0px;
}

.score{
  font-size: xx-large;
  text-align: center;
  position: absolute;
  display: inherit;
  margin-top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#results{
  font-size: larger;
  font-weight: bold;
  text-align: center;
  position: absolute;
  display: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


input[type="radio"]{
  position: relative;
  top: 250px;
  width: 600px;
  height: 75px;
  cursor: pointer;
  margin-left: 100px;
  border-radius: 15px;
  border: 2px solid #1FBED6;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
}



input[type="radio"]:focus {

  outline: none;
}

input[type="radio"]:checked {

  background-color: #1FBED6;
}

input[type="radio"]:checked ~ span:first-of-type {

  color: white;
}

input[type="radio"]:focus {

  outline: none;
}

input[type="radio"]:checked {

  background-color: #1FBED6;
}

input[type="radio"]:checked ~ span:first-of-type {

  color: white;
}

label span:first-of-type {

  position: relative;
  font-size: 15px;
  color: #1FBED6;
}

label span {
  position: relative;
  top: 273px;
  right: 500px;
}
