@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Shadows+Into+Light&display=swap');


body{
font-size: 20px;
font-family: "Kalam", cursive;
font-weight: 400;
font-style: normal;
color: #300516;
text-align: center;
background-color: rgba(222, 62, 125, 0.8);
}

h1 {
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin: 2px;
}

li a {
  display: block;
  padding: 8px 16px;
  border-radius: 5px;
  border: 2px solid #300516;
  background-color: #de3e7d;
}

a {
  color: white;
}

a: visited {
  color: white;
}

a:hover {
  color: #300516;
}

table {
  width: 100%
}

tr {
  text-align: center;
}
td {
  text-align: center;
}

table.center {
  margin-top: auto;
  margin-left: auto; 
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

.container {
  position: relative;
  width: 100%;
}

.img {
  width: 400px;
  height: 500px;
  object-fit: contain;
  transition: .5s ease;
  backface-visibility: hidden;
}

.container:hover .img {
  opacity: 0.3;
}

.centerimg{
  text-align: center;
}

.contacts{
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  color: white;
  width: 45px;

}

.contactdisplay{
  position: relative;
  text-align: center;
}

