h1 {
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  display: inline-block;
}

li a {
  display: block;
  padding: 8px 16px;
  background-color: #de3e7d;
}

a {
  color: white;
}

a: visited {
  color: white;
}

a:hover {
  color: #300516;
}

.container {
  width: 25%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}


tr {
  text-align: center;
}
td {
  text-align: center;
}

table.center {
  margin-left: auto; 
  margin-right: auto;}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

img {
object-fit: contain;
}

