h1 {
  text-align:center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  display: inline-block;
}

li a {
  display: block;
  padding: 8px 16px;
  background-color: #de3e7d;
}

a {
  color: white;
}

a: visited {
  color: white;
}

a:hover {
  color: #300516;
}

